* {
    margin: 0;
    padding: 0;
}

@import "./utils/variables";
@import "./utils/mixins";

@import "./base/typographie";

@import "./components/buttons";
@import "./components/main-card";
@import "./components/menu--category";
@import "./components/heart";

@import "./layouts/loader";
@import "./layouts/header";
@import "./layouts/form";
@import "./layouts/description";
@import "./layouts/presentation";
@import "./layouts/footer";
@import "./layouts/restaurants";
@import "./layouts/menu.scss";

@import "./pages/media-queries";

.check--mark {
    animation: rotation 300ms ease-in-out;
}

@keyframes rotate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}