* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

body .restaurant--name {
  font-family: 'Shrikhand', cursive;
}

body .site--name {
  font-family: 'Shrikhand', cursive;
}

.btn__lrg {
  padding: 10px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20px;
  color: white;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.btn__lrg:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  -webkit-box-shadow: 10px 10px 20px #b1b5b5;
          box-shadow: 10px 10px 20px #b1b5b5;
  -webkit-box-shadow: -10px -10px 20px #b1b5b5;
          box-shadow: -10px -10px 20px #b1b5b5;
  -webkit-box-shadow: 0px 10px 10px 0px #c5c9c9;
          box-shadow: 0px 10px 10px 0px #c5c9c9;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn__sml {
  padding: 10px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20px;
  color: white;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  width: 150px;
  margin-top: 40px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
}

.btn__sml:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
  -webkit-box-shadow: 10px 10px 20px #b1b5b5;
          box-shadow: 10px 10px 20px #b1b5b5;
  -webkit-box-shadow: -10px -10px 20px #b1b5b5;
          box-shadow: -10px -10px 20px #b1b5b5;
  -webkit-box-shadow: 0px 10px 10px 0px #c5c9c9;
          box-shadow: 0px 10px 10px 0px #c5c9c9;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.restaurant--card {
  width: 280px;
  margin: 20px;
  background-color: white;
  border-radius: 25px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 0px 10px 10px 0px #c5c9c9;
          box-shadow: 0px 10px 10px 0px #c5c9c9;
  position: relative;
}

.restaurant--card a {
  text-decoration: none;
  color: black;
}

.restaurant--card img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
}

.restaurant--card__new {
  height: 25px;
  width: 80px;
  border-radius: 5px;
  background-color: #99E2D0;
  position: absolute;
  margin: 10px 10px 0 180px;
  padding-top: 3px;
  text-align: center;
  vertical-align: middle;
}

.restaurant--card .card--description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-left: 25px;
  height: 50px;
}

.menu--category {
  margin-top: 40px;
}

.menu--category h3 {
  width: 120px;
}

.menu--category h3::after {
  content: '';
  display: block;
  width: 60px;
  border-bottom: solid 2px #99E2D0;
}

.menu--category .dish--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0px 10px 10px 0px #c5c9c9;
          box-shadow: 0px 10px 10px 0px #c5c9c9;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
  border-radius: 20px;
  background-color: white;
  margin-top: 20px;
  border-radius: 20px;
  width: 280px;
  height: 70px;
}

.menu--category .dish--item:hover {
  cursor: pointer;
}

.menu--category .dish--item .dish--description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu--category .dish--item .price {
  font-weight: bold;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 5px;
}

.menu--category .dish--item__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 20px 20px 0;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  height: 100%;
  width: 0px;
  right: 0;
  font-size: 30px;
  overflow: hidden;
  color: white;
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

.menu--category .dish--item:hover > .dish--item__selected {
  position: relative;
  width: 50px;
  margin-right: -10px;
}

.like {
  font-size: 30px;
  margin-right: 40px;
}

.like .heart {
  z-index: 1;
  position: absolute;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.like .heart:hover {
  opacity: 0;
}

.like .heart__true {
  position: absolute;
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.like .heart:hover + .heart__true {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.loader {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  width: 100%;
  height: 100vh;
  opacity: 1;
  -webkit-animation: loader 2000ms 1500ms both;
          animation: loader 2000ms 1500ms both;
}

.loader span {
  width: 20px;
  height: 80px;
  margin: 0 10px;
  border-radius: 50px;
}

.loader span:nth-child(1), .loader span:nth-child(5) {
  background-color: #99E2D0;
  -webkit-animation: anim3 1s infinite;
          animation: anim3 1s infinite;
}

.loader span:nth-child(3) {
  background-color: #9356DC;
  -webkit-animation: anim1 1s infinite;
          animation: anim1 1s infinite;
}

.loader span:nth-child(2), .loader span:nth-child(4) {
  background-color: #FF79DA;
  -webkit-animation: anim2 1s infinite;
          animation: anim2 1s infinite;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    z-index: 2;
  }
  99% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 2;
  }
  99% {
    opacity: 1;
    z-index: 2;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@-webkit-keyframes anim1 {
  0%, 100% {
    height: 30px;
  }
  50% {
    height: 150px;
  }
}

@keyframes anim1 {
  0%, 100% {
    height: 30px;
  }
  50% {
    height: 150px;
  }
}

@-webkit-keyframes anim2 {
  0%, 100% {
    height: 30px;
  }
  50% {
    height: 100px;
  }
}

@keyframes anim2 {
  0%, 100% {
    height: 30px;
  }
  50% {
    height: 100px;
  }
}

@-webkit-keyframes anim3 {
  0%, 100% {
    height: 30px;
  }
  50% {
    height: 50px;
  }
}

@keyframes anim3 {
  0%, 100% {
    height: 30px;
  }
  50% {
    height: 50px;
  }
}

header .logo {
  width: 150px;
  margin: 20px auto;
  display: block;
}

header .return--home {
  position: absolute;
  margin-left: 20px;
  margin-top: 5px;
  color: black;
  font-size: 20px;
}

.location {
  text-align: center;
  background-color: #e8e8e8;
  height: 40px;
  bottom: 0;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: transform 100ms;
          transform: transform 100ms;
}

.location i {
  margin-right: 5px;
  padding-top: 10px;
}

.location input {
  width: 100px;
  border: none;
  background-color: #e8e8e8;
}

.location input:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-left: 10px;
  padding: 5px 5px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f3f5;
  height: 200px;
  padding-bottom: 20px;
}

.description p {
  width: 250px;
  text-align: center;
}

.presentation {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

.presentation h2 {
  padding-left: 20px;
}

.presentation ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.presentation ul li {
  -webkit-box-shadow: 0px 10px 10px 0px #c5c9c9;
          box-shadow: 0px 10px 10px 0px #c5c9c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f3f5;
  border-radius: 25px;
  height: 50px;
  width: 270px;
  margin: 15px;
  padding-right: 10px;
}

.presentation ul li .step--num {
  background-color: #9356DC;
  border-radius: 15px;
  color: white;
  padding: 5px 10px;
  position: relative;
  right: 10px;
}

.presentation ul li i {
  padding: 10px;
}

footer {
  background-color: #333333;
  color: white;
  padding-left: 20px;
  padding-top: 10px;
}

footer h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer a {
  text-decoration: none;
  color: black;
  color: white;
}

footer ul {
  list-style: none;
  padding-bottom: 20px;
}

footer ul li {
  margin-top: 5px;
}

footer ul li i {
  padding-right: 10px;
}

.restaurant {
  margin-top: 30px;
  padding-bottom: 30px;
  background-color: #f2f3f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurant h2 {
  padding-left: 20px;
}

.restaurant .restaurant--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main {
  background-color: #f2f3f5;
  padding-bottom: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .restaurant--heading {
  width: 100%;
}

main .restaurant--heading .dish__preview {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 250px;
}

main .restaurant--heading .restaurant--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  left: 0;
  right: 0;
  top: 260px;
  background-color: #f2f3f5;
  border-radius: 20px 20px 0 0;
  padding: 30px 0 20px 0;
}

main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  .btn__sml {
    width: 260px;
    height: 40px;
  }
}

@media screen and (min-width: 481px) and (max-width: 765px) {
  .presentation h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .presentation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurant--card {
    width: 300px;
  }
  .menu--category {
    width: 60%;
  }
  .btn__sml {
    width: 260px;
    height: 40px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 766px) and (max-width: 1050px) {
  .restaurant--card {
    width: 320px;
  }
  .menu--category {
    width: 60%;
  }
  .menu--category .dish--item {
    margin: 25px auto;
  }
  .btn__sml {
    width: 400px;
    height: 50px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1051px) {
  .menu--category {
    width: 700px;
  }
  .menu--category .dish--item {
    width: 400px;
    margin: 25px auto;
  }
  .btn__sml {
    width: 400px;
    height: 50px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.check--mark {
  -webkit-animation: rotation 300ms ease-in-out;
          animation: rotation 300ms ease-in-out;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */