@import "./utils/variables";
@import "./utils/mixins";

@import "./components/buttons";
@import "./components/main-card";

@import "./layouts/header";
@import "./layouts/form";
@import "./layouts/description";
@import "./layouts/presentation";
@import "./layouts/footer";
@import "./layouts/restaurants";
@import "./layouts/menu.scss";


* {
    margin: 0;
    padding: 0;
}

.dish--item {
    background-color: white;
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    @include box-shadow;
}