.btn__lrg {
    @include button;
    @include box-shadow;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 100ms;
    &:hover {
        filter: brightness(1.1);
        @include hover-effect;
        @include box-shadow_hover;
        transform: scale(1.1);
    }
}

.btn__sml {
    @include button;    
    @include box-shadow;
    width: 150px;
    margin-top: 40px;
    transform: scale(1);
    transition: transform 100ms;
    &:hover {
        filter: brightness(1.1);
        @include hover-effect;
        @include box-shadow_hover;
        transform: scale(1.1);
    }
}