.restaurant--card {
    @include card-display;
    @include box-shadow;
    position: relative;
    a {
        @include link;
    }
    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        border-radius: 25px 25px 0 0;
    }
    &__new {
        @include new__label;        
    }
    .card--description {
        @include flex-row;
        justify-content: space-between;
        padding-top: 10px;
        padding-left: 25px;
        height: 50px;
    }
}