.menu--category {
    margin-top: 40px;
    h3 {
        width: 120px;
        &::after {
            content: '';
            display: block;
            width: 60px;
            border-bottom: solid 2px $tertiary;
        }
    }    
    .dish--item {
        @include flex-row;
        @include box-shadow;
        position: relative;
        justify-content: space-between;
        padding: 0 10px;
        border-radius: 20px;
        background-color: white;
        margin-top: 20px;
        border-radius: 20px;
        width: 280px;
        height: 70px;
        &:hover {
            cursor: pointer;
        }
        .dish--description{
            @include flex-column;
            justify-content: space-around;
        }
        .price {
            font-weight: bold;
            align-self: flex-end;
            margin-bottom: 5px;
        }
        &__selected {
            @include flex-column;
            border-radius: 0 20px 20px 0;
            position: absolute;
            align-self: flex-end;
            justify-content: center;
            align-items: center;
            background-color: $tertiary;
            height: 100%;
            width: 0px;
            right: 0;
            font-size: 30px;
            overflow: hidden;
            color: white;
            transition: width 300ms ease-in-out;
        }
        &:hover > .dish--item__selected {
            position: relative;
            width: 50px;
            margin-right: -10px;
        }
    }
}