@media screen and (min-width: 321px) and (max-width: 480px) {
    .btn__sml {
        width: 260px;
        height: 40px;
    }

}

@media screen and (min-width: 481px) and (max-width: 765px) {
    .presentation {
        h2 {
            text-align: center;
            margin-bottom: 30px;
        }
        ul {
            @include flex-column;
            align-items: center;
        }
    }
    .restaurant--card {
        width: 300px;
    }
    .menu--category {
        width: 80%;
        .dish--item {
            width: 80%;
        }
        .dish--description {
            width: 80%;
        }
    }
    .btn__sml {
        width: 260px;
        height: 40px;
    }
    .dish--item {
        width: 80%;
        margin: auto;
    }
    footer {
        @include flex-column;
        align-items: center;
        ul {
            @include flex-column;
            align-items: center;
        }
    }
}

@media screen and (min-width: 766px) and (max-width: 1050px) {
    .restaurant--card {
        width: 320px;
    }
    .menu--category {
        width: 80%;
        .dish--item {
            width: 80%;
            margin: 20px auto;
        }
        .dish--description {
            width: 80%;
        }
    }
    .btn__sml {
        width: 400px;
        height: 50px;
    }
    footer {
        @include flex-column;
        align-items: center;
        ul {
            @include flex-column;
            align-items: center;
        }
    }
}
@media screen and (min-width: 1051px) {

    .menu--category {
        width: 900px;
        .dish--item {
            width: 80%;
        }
        .dish--description {
            width: 80%;
        }
    }

    .dish--item {
        margin: 25px auto;
    }

    .btn__sml {
        width: 400px;
        height: 50px;
    }
    footer {
        @include flex-column;
        align-items: center;
        ul {
            @include flex-column;
            align-items: center;
        }
    }
}
