.location {
    text-align: center;
    background-color: $darkgrey;
    height: 40px;
    bottom: 0;
    transform: scale(1);
    transform: transform 100ms;
    & i {
        margin-right: 5px;
        padding-top: 10px;
    }
    & input {
        width: 100px;
        border: none;
        background-color: $darkgrey;
        &:focus {
            transform: scale(1.2);
            margin-left: 10px;
            padding: 5px 5px;
        }
    }
}