main{
    background-color: $grey;
    padding-bottom: 40px;
    width: 100%;
    @include flex-column;
    .restaurant--heading {
        width: 100%;
        .dish__preview {
            display: block;
            width: 100%;
            object-fit: cover;
            height: 250px;
        }
        .restaurant--name {
            @include flex-row;
            justify-content: space-around;
            position: absolute;
            left: 0;
            right: 0;
            top: 260px;
            background-color: $grey;
            border-radius: 20px 20px 0 0;
            padding: 30px 0 20px 0;
        }
    }
    .menu {
        @include flex-column;
        align-items: center;
    }
}